* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /*border: 1px solid red;*/
}


/*body*/
body {
  margin: auto 0;
  /*height: 100vh;*/
}


/* header */

header {
  align-items: center;
  background-color: #404042;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-header {
  color: #E64489;
  font-size: 60px;
  font-weight: 400;
  margin-top: 3%;
  margin: auto;
}

span {
  font-weight:700;
}

.title-line-holder {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  width: 98%;
}

.title-line {
  background-color: #ffffff;
  height: 1px;
  width: 25%;
}

.title-p {
  color: white;
  font-size: medium;
  margin: 0;
  text-align: center;
}

/* main */

main {
  display: flex;
}

button:disabled {
    pointer-events: none;
    background-color: #D0D2D3;
  }

button:enabled {
    background-color: #6E6E6E;
  }

button:focus {outline:0;}

.score,
.guesser {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
  }

/* guesser */

section {
  background-color: white;
  border: 1px solid #D0D2D3; 
  margin: 20px;
}

form {

}

h2 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #404042;
}

h3 {
  font-size: 16px;
  color: #6E6E6E;
  margin-top: 5px;
  margin-bottom: 0;
}

label {
  color: #6E6E6E;
  font-size: 15px;
}

input {
  margin-top: 2px;
}

input:focus {outline:0;}

.guesser {
  background-color: #F7F7F7;
  flex: 1
}

.guesser-score-p1 {
  font-size: 16px;
  color: #6E6E6E;
  margin: 0;
}

.guesser-score-p2,
.guesser-score-p4 {
  color: #DD1972;
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.guesser-score-p3,
.guesser-score-p5 {
  margin: 0;
  color: #6E6E6E;
}

.set-range {
  width: 35%;
}

.container1 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.container2 {
  margin-bottom: 25px;
}

.container2,
.container3 {
  align-content: flex-start;
  display: flex;
  justify-content: space-between;

}

.name,
.guess {
  display: flex;
  flex-direction: column;
}

.name {
  width: 62%;
}

.guess {
  width: 35%;
}

.guesser-guess-range {
  margin-top: 0;
  color: #6E6E6E;
}

.guesser-guess-form-nameInput1,
.guesser-guess-form-nameInput2 {
  height: 31px;
  width: 100%;
  /*margin-right: 30px;*/
}

.guesser-guess-range-bold1,
.guesser-guess-range-bold2 {
  text-decoration: underline;
  color: #404042;
}

.score-card {
    margin: 20px 40px;
    background-color: white;
    
}

.middle-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

.guesser-range,
.guesser-guess,
.guesser-score {
  padding: 15px;
}

.guesser-score-container {
  display: flex;
  justify-content: space-evenly;
}

.guesser-score-article1,
.guesser-score-article2 {
  text-align: center;
}

.guesser-range-form-button {
  background-color: #6E6E6E;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  height: 30px;
  width: 20%;
}

.guesser-range-form-button:hover {
  background-color: #DD1972;
}

.guesser-range-form-input,
.guesser-guess-form-input2 {
  margin-right: 10px;
  height: 31px;
  width: 100%;
}

.guesser-guess-form-button1,
.guesser-guess-form-button2,
.guesser-guess-form-button3 {
    background-color: #6E6E6E;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    width: 30%;
}
  
.guesser-guess-form-button1:hover,
.guesser-guess-form-button2:hover,
.guesser-guess-form-button3:hover {
    background-color: #DD1972;
}


/*.guesser-score-container {
  display: flex;
  justify-content: space-around;
}*/

.guesser-number-error1 {
  display: none;
  width:15px;
}

.guesser-name-error1 {
  display: none;
  width:15px;
}

.guesser-name-error2 {
  display:none;
  width: 15px;
}

.guesser-number-error2 {
  display: none;
  width:15px;
}


/* score */

h4,
h5 {
  text-align: center;
  color: #6E6E6E;
  font-size: 27px;
  margin: 15px;
}

h5 {
  margin-top: 0;
  font-weight: lighter;
}

.score {
  flex: 1;
  background-color:#D1D2D4;
}

.score-card {
  background-color: white;
  border: 1px solid #6E6E6E;
  margin: 20px auto;
  padding: 0 15px;
  width: 90%;
}

.score-card-p1 {
  color: #6E6E6E;
  text-align: center;
  border-bottom: 2px solid #D0D2D3;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 9px;
}

.score-card-span1 {
  margin: 0 15px;
  color: #6E6E6E;
}

.score-card-close {
  align-self: center;
  border-radius: 50%;
  color: white;
}
.score-card-header1 {
  margin-bottom: 0;
}

.score-card-header2 {
  margin-top: 0;
}


.score-card-bottom {
  color: #6E6E6E;
  border-top: 2px solid #D0D2D3;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.range-number-error{
  display: none;
  width:15px;
}

.range-number-error2{
  display: none;
  width: 15px;
}

/*code for media queries
*/

 @media(max-width: 900px) {
  main {
    display: block;
  }
  .score,
  .guesser {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}